<div class="m-slider" data-ydui-slider="{autoplay: 3000}"><!-- 参数在这里 -->
    <div class="slider-wrapper">
        <div class="slider-item">
            <a href="#">
                <img src="__IMG__/banner.png">
            </a>
        </div>
        <div class="slider-item">
            <a href="#">
                <img src="__IMG__/banner.png">
            </a>
        </div>
        <div class="slider-item">
            <a href="#">
                <img src="__IMG__/banner.png">
            </a>
        </div>
    </div>
    <div class="slider-pagination"></div><!-- 分页标识 -->
</div>