<div class="cebians">

    <a href="{:url('index')}">
        <div class="cebian">
            <div class="cebian-left">
                <img src="__IMG__/icon1.png"/>
            </div>
            <span>首页</span>
        </div>
    </a>
    <a href="{:url('indexRight')}">
        <div class="cebian">
            <div class="cebian-left">
                <img src="__IMG__/icon2.png"/>
            </div>
            <span>{$Acate.11.name}</span><!--业态-->
        </div>
    </a>
    <a href="{:url('newslist')}">
        <div class="cebian">
            <div class="cebian-left">
                <img src="__IMG__/icon3.png"/>
            </div>
            <span>{$Acate.0.name}</span><!--新闻资讯-->
        </div>
    </a>
    <a href="{:url('peoplelist')}">
        <div class="cebian">
            <div class="cebian-left">
                <img src="__IMG__/icon4.png"/>
            </div>
            <span>{$Acate.2.name}</span><!--传奇人生-->
        </div>
    </a>
    <a href="{:url('jiaoliulist')}">
        <div class="cebian">
            <div class="cebian-left">
                <img src="__IMG__/icon5.png"/>
            </div>
            <span>{$Acate.1.name}</span><!--行业交流-->
        </div>
    </a>
    <a href="{:url('wuliu')}">
        <div class="cebian">
            <div class="cebian-left">
                <img src="__IMG__/icon6.png"/>
            </div>
            <span>物流信息港</span>
        </div>
    </a>
    <a href="{:url('classlist')}">
        <div class="cebian">
            <div class="cebian-left">
                <img src="__IMG__/icon7.png"/>
            </div>
            <span>{$Acate.4.name}</span><!--在线课堂-->
        </div>
    </a>
    <a href="{:url('foodlist')}">
        <div class="cebian">
            <div class="cebian-left">
                <img src="__IMG__/icon8.png"/>
            </div>
            <span>{$Acate.5.name}</span><!--食品安全-->
        </div>
    </a>
    <div class="cebian">
        <button>退出登录</button>
    </div>
</div>
