<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <!-- 引入YDUI样式 -->
    <link rel="stylesheet" href="__CSS__/ydui.css" />
    <link rel="stylesheet" type="text/css" href="__CSS__/common.css"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/index.css"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/index2.css"/>
    <link rel="stylesheet" href="__FONT__/iconfont.css">
    <!-- 引入YDUI自适应解决方案类库 -->
    <script src="__JS__/ydui.flexible.js"></script>
    <script src="__JS__/jquery-3.2.1.min.js"></script>
    <script src="__PUBLIC__/layui/layui.js"></script>
</head>
<body>
<div class="zhezhao"></div>