<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <!-- 引入YDUI样式 -->
    <link rel="stylesheet" href="../css/ydui.css" />
    <link rel="stylesheet" type="text/css" href="../css/common.css"/>
    <link rel="stylesheet" href="../font/iconfont.css">
    <!-- 引入YDUI自适应解决方案类库 -->
	<script src="../js/ydui.flexible.js"></script>
	<style>
        /*卡片区域*/
		body{background: white}
		.form{margin-top: 0.5rem;padding: 0 14%;overflow: hidden;}
		.m-tabbar{position: fixed;width: 100%;bottom: 0}
		.item{margin: auto;margin-bottom: 0.2rem;display: flex}
		.item input{border: 1px solid rgb(169, 169, 169);}
		.item label{display: inline-block;width: 30%;font-size: 0.27rem}
		.item input{height: 0.4rem;width: 70%}
		textarea{width: 70%}
		button{display: block;
				margin: auto;
				border: none;
				padding: 0.1rem 1rem;
				background: #d35323;
				color: white;
				float: right;
		}
		.item1{text-align: end;margin-bottom:0.2rem }
	</style>
</head>
<body>
	<div class="zhezhao"></div>
	<!--头部导航-->
	<header class="m-navbar">
	    <a href="#" class="navbar-item fadein">
			<img src="../img/img_03.png"/>
	    </a>
	    <div class="navbar-center">
	       <img class="logo" src="../img/logo.png"/>
	    </div>
	    <div class="navbar-item">
	        <a href="#">
				<img src="../img/img_05.png"/>
	        </a>	       
	    </div>
	</header>
	<!--菜单导航-->
	<div class="menu">
        <a class="next-ico"><img src="../img/zuo_03.png"/></a>
		<a href="">业态</a>
		<a href="">食品安全</a>
		<a href="">物流信息</a>
		<a href="">在线安全</a>
	</div>
	<div class="path">
    	<p>当前位置：首页&#10132业态</p>
    </div>
	<div class="form">
		<form action="">
			<div class="item">
				<label for="">公司名称：</label>
				<input type="text">
			</div>
			<div class="item">
				<label for="">公司地址：</label>
				<input type="text">
			</div>
			<div class="item">
				<label for="">公司简介：</label>
				<textarea name="" id="" cols="30" rows="10"></textarea>
			</div>
			<div class="item">
				<label for="">招聘职位</label>
				<input type="text">
			</div>
			<div class="item">
				<label for="">公司福利</label>
				<input type="text">
			</div>
			<div class="item">
				<label for="">薪资待遇</label>
				<input type="text">
			</div>
			<div class="item1" >
				<label>面议</label>
				<input type="checkbox" name=""/>
			</div>
			<div class="item">
				<label for="">职位要求</label>
				<input type="text">
			</div>
			<div class="item">
				<label for="">联系方式</label>
				<input type="text">
			</div>
			<button>提交</button>
		</form>
	</div>

   
	<!-- 底部 -->
	<div class="null"></div>
	
    <footer class="m-tabbar">
    <a href="#" class="tabbar-item">
        <span class="tabbar-icon">
            <i class="iconfont icon-shouye"></i>
        </span>
        <span class="tabbar-txt">首页</span>
    </a>
    <a href="#" class="tabbar-item">
        <span class="tabbar-icon">
            <i class="iconfont icon-ditu"></i>
        </span>
        <span class="tabbar-txt">在线地图</span>
    </a>
    <a href="#" class="tabbar-item">
        <span class="tabbar-icon">
            <i class="iconfont icon-icon-test1"></i>
        </span>
        <span class="tabbar-txt">在线留言</span>
    </a>
    <a href="#" class="tabbar-item">
        <span class="tabbar-icon">
             <i class="iconfont icon-dianhua"></i>
        </span>
        <span class="tabbar-txt">电话</span>
    </a>
    <a href="#" class="tabbar-item">
        <span class="tabbar-icon">
            <i class="iconfont icon-kefu"></i>
        </span>
        <span class="tabbar-txt">在线客服</span>
    </a>
</footer>

<!--侧边栏-->
<div class="cebians">
	
	<div class="cebian">
		<div class="cebian-left">
			<img src="../img/icon1.png"/>
		</div>
		<span>首页</span>
	</div>
	<div class="cebian">
		<div class="cebian-left">
			<img src="../img/icon2.png"/>
		</div>
		<span>业态</span>
	</div>
	<div class="cebian">
		<div class="cebian-left">
		<img src="../img/icon3.png"/>
			
		</div>
		<span>新闻咨询</span>
	</div>
	<div class="cebian">
		<div class="cebian-left">
			<img src="../img/icon4.png"/>
		</div>
		<span>传奇人生</span>
	</div>
	<div class="cebian">
		<div class="cebian-left">
		<img src="../img/icon5.png"/>
		</div>
		<span>行业交流</span>
	</div>
	<div class="cebian">
		<div class="cebian-left">
			<img src="../img/icon6.png"/>
		</div>
		<span>物流信息</span>
	</div>
	<div class="cebian">
		<div class="cebian-left">
			<img src="../img/icon7.png"/>
		</div>
		<span>在线课堂</span>
	</div>
	<div class="cebian">
		<div class="cebian-left">
			<img src="../img/icon8.png"/>
		</div>
		<span>食品安全</span>
	</div>
	<div class="cebian">
		<button>退出登录</button>
	</div>
</div>

<!-- 引入jQuery 2.0+ -->
<script src="../js/jquery-3.2.1.min.js"></script>
<!-- 引入YDUI脚本 -->
<script src="../js/ydui.js"></script>
<script>
//	遮罩的高度
	var $height=document.body.scrollHeight 
	$('.zhezhao').height($height)
   $('.fadein').click(function(){
		event.stopPropagation();	
		$('.zhezhao').show();
   		$('.cebians').animate({left:'0px'});
   })
   $('body').click(function(){
		$('.zhezhao').hide();
   	
   		$('.cebians').animate({left:'-3.5rem'});
   })  
// 阻止冒泡
    $('.cebians').click(function(){
		event.stopPropagation();	
	})  
	
</script>
</body>
</html>